.rect {
    height: 100px;
    width: 100px;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: 100px;
    margin-left: 100px;
}

.circle {
    display: block;
    width: 100px;
    height: 50px;
    top: -50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    background: aqua;
}

.circle:after {
    content: '';
    width: 100px;
    height: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: -100px;
    left: -40px;
    border: 40px solid rgba(0, 0, 0, 0.5);
}


.container{
    position: relative;
    border: 1px solid red;
    margin-bottom: 25%;
}


.rect2 {
    display: inline-block;
    height: 100px;
    width: 318px;
    background: rgb(64, 64, 64);
    position: absolute;
    margin-top: 100px;
    margin-left: 47px;
}

.circle2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    /*background: aqua;*/
}


.circle2:after {
    content: '';
    width: 100px;
    height: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: -40px;
    left: -103px;
    border: 40px solid rgb(64, 64, 64);
}